<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Franjas Espacio</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h1>Lista de franjas de los espacios</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Hora inicio</th>
            <th>Hora fin</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="franjaEspai: ${franjesEspai}">
            <td th:text="${franjaEspai.nomEspai}"></td>
            <td th:text="${franjaEspai.horaInici}"></td>
            <td th:text="${franjaEspai.horaFi}"></td>

            <td><a th:href="@{/franjaEspai/delete/{nom_espai}(nom_espai=${franjaEspai.nomEspai})}" class="btn btn-danger" role="button">Borrar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn-success" role="button">Añade franja horaria</a>
</div>
</body>
</html>