<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Controladors Espai</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h1>Llista de Controladors Espai</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Dni</th>
            <th>Nom Espai</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="controladorespai: ${controladorsespais}">
            <td th:text="${controladorespai.dniControlador}"></td>
            <td th:text="${controladorespai.nomEspai}"></td>

            <td><a th:href="@{/controladorespai/delete/{dni_controlador}/{nom_espai}(dni_controlador=${controladorespai.dniControlador}, nom_espai=${controladorespai.nomEspai})}" class="btn btn-danger" role="button">Esborra</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn-success" role="button">Afegeix Controlador en Zona</a>
</div>
</body>
</html>