<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Gestionar Zonas SANA</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/zona.css" th:href="@{/css/zona.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1><span th:text="${nomespaipublic}"></span></h1>
    <br>
    <h3>Zonas disponibles en el espacio natural</h3>
    <div th:if="${#lists.isEmpty(zonasespacio)}">
        <br>
        <p>En este momento no hay zonas disponibles per a este espacio. Vuelve en otro momento.</p>
    </div>
    <br>
    <p style="font-style: italic">Utiliza el botón 'Modificar' para cambiar información de una zona.</p>
    <table th:unless="${#lists.isEmpty(zonasespacio)}" class="table table-striped">
        <thead>
        <tr>
            <th>Nombre del espacio</th>
            <th>Zona</th>
            <th>Longitud (en metros)</th>
            <th>Amplitud (en metrps)</th>
            <th>Capacidad máxima de personas</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="zona : ${zonasespacio}">
            <td th:text="${zona.nomEspai}"></td>
            <td th:text="${zona.codi}"></td>
            <td th:text="${zona.llargaria}"></td>
            <td th:text="${zona.amplaria}"></td>
            <td th:text="${zona.capacitatMaxima}"></td>
            <td><a th:href="@{/zona/update/{nom_espai}/{codi_zona}(nom_espai=${zona.nomEspai}, codi_zona=${zona.codi})}" class="btn btn-success" role="button">Modificar</a></td>
            <td><a th:href="@{/zona/delete/{nom_espai}/{codi_zona}(nom_espai=${zona.nomEspai}, codi_zona=${zona.codi})}" onclick="return confirm('Estás seguro?')" class="btn btn-success" role="button">Borrar zona</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>