<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Zones</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h1>Llista de Zones</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Codi</th>
            <th>Llargaria</th>
            <th>Amplaria</th>
            <th>Capacitat Máxima</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="zona: ${zones}">
            <td th:text="${zona.nomEspai}"></td>
            <td th:text="${zona.codi}"></td>
            <td th:text="${zona.llargaria}"></td>
            <td th:text="${zona.amplaria}"></td>
            <td th:text="${zona.capacitatMaxima}"></td>
            <td><a th:href="@{/zona/update/{nom_espai}/{codi}(nom_espai=${zona.nomEspai}, codi=${zona.codi})}" class="btn btn-warning" role="button">Edita</a>
            </td>
            <td><a th:href="@{/zona/delete/{nom_espai}/{codi}(nom_espai=${zona.nomEspai}, codi=${zona.codi})}" class="btn btn-danger" role="button">Esborra</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn-success" role="button">Afegeix Zona</a>
</div>
</body>
</html>