<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Gestionar Gestores Municipales</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
  <h1>Lista de Gestores</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Dni</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Nombre usuario</th>
      <th>Email</th>
      <th>Contraseña</th>
      <th>Fecha nacimiento</th>
      <th>Nombre municipio</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="gestormunicipal: ${gestorsmunicipals}">
      <td th:text="${gestormunicipal.dni}"></td>
      <td th:text="${gestormunicipal.nom}"></td>
      <td th:text="${gestormunicipal.cognoms}"></td>
      <td th:text="${gestormunicipal.nomUsuari}"></td>
      <td th:text="${gestormunicipal.email}"></td>
      <td th:text="${gestormunicipal.contrasenya}"></td>
      <td th:text="${gestormunicipal.dataNaixement}"></td>
      <td th:text="${gestormunicipal.nomMunicipi}"></td>
    </tr>
    </tbody>
  </table>
  <a href="add" class="btn btn-success" role="button">Añadir Gestor Municipal</a>
</div>
</body>
</html>