<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/base}">
<head>
    <title>Reservar zona en area</title>
    <meta charset="UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/zona.css">
</head>
<body>

<div class="container" layout:fragment="content" th:object="${session}">
    <h2>Reservar zona <span th:text="${session.codi_zona}"></span> en <span th:text="${reserva.nomEspai}"></span></h2>
    <br>
    <h3>Detalles de la reserva</h3>
    <form class="form-horizontal" action="#" th:action="@{/reserva/add}"
          th:object="${reserva}"  method="post">

        <!--<div class="form-group row">
            <label class="control-label col-sm-2" for=codi>Codi Reserva:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="codi" th:field="*{codi}" />
            </div>
        </div> -->

        <div class="form-group row">
             <label class="control-label col-sm-2" for="dni">Dni Ciudadano:</label>
             <div class="col-sm-4">
                 <input type="text" class="form-control" id="dni" th:field="*{dni}" readonly="readonly"/>
             </div>
         </div>

         <div class="form-group row">
              <label class="control-label col-sm-2" for="nom_espai">Nombre Espacio:</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="nom_espai" th:field="*{nomEspai}" readonly="readonly"/>
              </div>
          </div>

         <!--<div class="form-group row">
              <label class="control-label col-sm-2" for="data_creacio">Data Creacio:</label>
              <div class="col-sm-4">
                  <input type="date" class="form-control" id="data_creacio" th:field="*{dataCreacio}"/>
              </div>
          </div> -->

         <!--  <div class="form-group row">
               <label class="control-label col-sm-2" for="estat">Estat:</label>
               <div class="col-sm-4">
                   <input type="text" class="form-control" id="estat" th:field="*{estat}"/>
               </div>
           </div> -->

          <div class="form-group row">
              <label class="control-label col-sm-2" for="num_persones">Número de personas:</label>
             <div class="col-sm-4">
                 <!-- <input type="number" class="form-control" id="num_persones" th:field="*{numPersones}" /> -->
                 <select class="form-control" type="text" id="num_persones" th:field="*{numPersones}">
                     <option th:each="numero : ${session.cantidadList}"
                             th:value="${numero}"
                             th:text="${numero}"></option>
                 </select>
              </div>
          </div>

          <div class="form-group row">
              <label class="control-label col-sm-2" for="data_asignacio">Elije la fecha de ida:</label>
              <div class="col-sm-4">
                  <input type="date" class="form-control" id="data_asignacio" th:field="*{dataAsignacio}"/>
                  <span th:if="${#fields.hasErrors('dataAsignacio')}" th:errors="*{dataAsignacio}" style="color: red"></span>
              </div>
          </div>
        <div class="form-group row">
            <label class="control-label col-sm-2"></label>
            <div class="col-sm-4" th:object="${session}">
                <p style="color:#FF0000" th:unless="*{errorFecha == null}">
                    Dia ya ocupado, elige otro
                </p>
            </div>
        </div>
          <!-- <div class="form-group row">
               <label class="control-label col-sm-2" for="data_expiracio">Data Expiracio:</label>
               <div class="col-sm-4">
                   <input type="date" class="form-control" id="data_expiracio" th:field="*{dataExpiracio}"/>
               </div>
           </div> -->

          <div class="form-group row">
              <label class="control-label col-sm-2" for="hora_inici_espai">Hora de apertura del espacio:</label>
              <div class="col-sm-4">
                  <input type="time" class="form-control" id="hora_inici_espai" th:field="*{horaIniciEspai}" readonly="readonly"/>
              </div>
          </div>

        <div class="form-group row">
             <label class="control-label col-sm-2" for="hora_fi_espai">Hora de cierre del espacio:</label>
             <div class="col-sm-4">
                 <input type="time" class="form-control" id="hora_fi_espai" th:field="*{horaFiEspai}" readonly="readonly"/>
             </div>
         </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit">Añadir Reserva</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>