<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/base}">

<head>
    <title>Gestionar Reservas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>Operación realizada correctamente :D</h1>
    <a class="nav-link" href="/reserva/listreservesciutada">Mostrar mis resevas</a>
</div>
</body>
</html>