<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Reserves</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h1>Llista de Reserves</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Codi</th>
            <th>Dni</th>
            <th>Nom del Espai</th>
            <th>Data de creació</th>
            <th>Estat</th>
            <th>Num persones</th>
            <th>Data asignació</th>
            <th>Data expiració</th>
            <th>Hora inici espai</th>
            <th>Hora fi espai</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reserva: ${reserves}">
            <td th:text="${reserva.codi}"></td>
            <td th:text="${reserva.dni}"></td>
            <td th:text="${reserva.nomEspai}"></td>
            <td th:text="${reserva.dataCreacio}"></td>
            <td th:text="${reserva.estat}"></td>
            <td th:text="${reserva.numPersones}"></td>
            <td th:text="${reserva.dataAsignacio}"></td>
            <td th:text="${reserva.dataExpiracio}"></td>
            <td th:text="${reserva.horaIniciEspai}"></td>
            <td th:text="${reserva.horaFiEspai}"></td>
            <td><a th:href="@{/reserva/update/{codi}(codi=${reserva.codi})}" class="btn btn-warning" role="button">Edita</a>
            </td>
            <td><a th:href="@{/reserva/delete/{codi}(codi=${reserva.codi})}" class="btn btn-danger" role="button">Esborra</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn-success" role="button">Afegeix reserva</a>
</div>
</body>
</html>