<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar Reservas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/zona.css" th:href="@{/css/zona.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>Tus reservas</h1>
    <div th:if="${#lists.isEmpty(llistaReserves)}">
        <br>
        <h4>En este momento este espacio no contiene servicios estacionales disponibles. Vuelve en un otro momento.</h4>
    </div>
    <table th:unless="${#lists.isEmpty(llistaReserves)}"
           class="table table-striped">
        <thead>
        <tr>
            <th>Codi</th>
            <!--<th>Dni</th>-->
            <th>Nombre del Espacio</th>
            <th>Zona</th>
            <th>Fecha de creación</th>
            <th>Estado</th>
            <th>Num personas</th>
            <th>Fecha asignación</th>
            <th>Fecha expiración</th>
            <th>Hora inicio espacio</th>
            <th>Hora fin espacio</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reserva: ${reservaZonaHashMap}">
            <td th:text="${reserva.key.codi}"></td>
            <!--<td th:text="${reserva.dni}"></td>-->
            <td th:text="${reserva.key.nomEspai}"></td>
            <td th:text="${reserva.value.nomZona}"></td>
            <td th:text="${reserva.key.dataCreacio}"></td>
            <td th:text="${reserva.key.estat}"></td>
            <td th:text="${reserva.key.numPersones}"></td>
            <td th:text="${reserva.key.dataAsignacio}"></td>
            <td th:text="${reserva.key.dataExpiracio}"></td>
            <td th:text="${reserva.key.horaIniciEspai}"></td>
            <td th:text="${reserva.key.horaFiEspai}"></td>
            <td th:if="${reserva.key.estat != 'cancelada'}">
                <a th:href="@{/reserva/update/{codi}(codi=${reserva.key.codi})}" class="btn btn-warning" role="button">Editar</a>
            </td>
            <td th:if="${reserva.key.estat != 'cancelada'}">
                <a th:href="@{/reserva/delete/{codi}(codi=${reserva.key.codi})}" onclick="return confirm('Estás seguro?')" class="btn btn-danger" role="button">Cancelar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <script>
        function myFunction() {
            confirm("Estás seguro que quieres borrarla?");
        }
</script>
</div>
</body>
</html>