<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Reservas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h1>Lista de Reservas</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Codigo</th>
            <th>Dni</th>
            <th>Nombre del Espacio</th>
            <th>Fecha de creación</th>
            <th>Estado</th>
            <th>Num personas</th>
            <th>Fecha asignación</th>
            <th>fecha expiración</th>
            <th>Hora inicio espacio</th>
            <th>Hora fin espacio</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reserva: ${reserves}">
            <td th:text="${reserva.codi}"></td>
            <td th:text="${reserva.dni}"></td>
            <td th:text="${reserva.nomEspai}"></td>
            <td th:text="${reserva.dataCreacio}"></td>
            <td th:text="${reserva.estat}"></td>
            <td th:text="${reserva.numPersones}"></td>
            <td th:text="${reserva.dataAsignacio}"></td>
            <td th:text="${reserva.dataExpiracio}"></td>
            <td th:text="${reserva.horaIniciEspai}"></td>
            <td th:text="${reserva.horaFiEspai}"></td>
            <td><a th:href="@{/reserva/update/{codi}(codi=${reserva.codi})}" class="btn btn-warning" role="button">Edita</a>
            </td>
            <td><a th:href="@{/reserva/delete/{codi}(codi=${reserva.codi})}" class="btn btn-danger" role="button">Borra</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn-success" role="button">Añade reserva</a>
</div>
</body>
</html>