<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar els ciutadans</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h2>Nou ciutada</h2>
    <form class="form-horizontal" action="#" th:action="@{/ciutada/add}"
          th:object="${ciutada}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="dni">Dni Ciutada:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="dni" th:field="*{dniCiutada}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="nom">Nom:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="nom" th:field="*{nom}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="cognom">Cognom:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="cognom" th:field="*{cognom}" />
            </div>
        </div>


        <div class="form-group row">
            <label class="control-label col-sm-2" for="data_naixement">Data Naixement:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="data_naixement" th:field="*{dataNaixement}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="adreça">Adresa:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="adreça" th:field="*{adresa}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="email" th:field="*{email}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="email">Contrasenya:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="contrasenya" th:field="*{contrasenya}"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Afegeix Ciutada</button>
            </div>
        </div>

    </form>
</div>
</body>
</html>