<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Ciudadanos</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h1>Lista de Ciudadanos</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Dni</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Fecha Nacimiento</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ciutada: ${ciutadans}">
            <td th:text="${ciutada.dniCiutada}"></td>
            <td th:text="${ciutada.nom}"></td>
            <td th:text="${ciutada.cognom}"></td>
            <td th:text="${ciutada.dataNaixement}"></td>
            <td th:text="${ciutada.adresa}"></td>
            <td th:text="${ciutada.email}"></td>
            <td th:text="${ciutada.contrasenya}"></td>
            <td><a th:href="@{/ciutada/update/{dni}(dni=${ciutada.dniCiutada})}" class="btn btn-warning" role="button">Edita</a>
            </td>
            <td><a th:href="@{/ciutada/delete/{dni}(dni=${ciutada.dniCiutada})}" class="btn btn-danger" role="button">Borra</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn-success" role="button">Añade Ciudadano</a>
</div>
</body>
</html>