<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Ciutadans</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h1>Llista de Ciutadans</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Dni</th>
            <th>Nom</th>
            <th>Cognom</th>
            <th>Email</th>
            <th>Data Naixement</th>
            <th>Adreça</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ciutada: ${ciutadans}">
            <td th:text="${ciutada.dni}"></td>
            <td th:text="${ciutada.nom}"></td>
            <td th:text="${ciutada.cognom}"></td>
            <td th:text="${ciutada.email}"></td>
            <td th:text="${ciutada.data_naixement}"></td>
            <td th:text="${ciutada.adreça}"></td>
            <td><a th:href="@{/ciutada/update/{dni}(dni=${ciutada.dni})}" class="btn btn-warning" role="button">Edita</a>
            </td>
            <td><a th:href="@{/ciutada/delete/{dni}(dni=${ciutada.dni})}" class="btn btn-danger" role="button">Esborra</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn-success" role="button">Afegeix Ciutada</a>
</div>
</body>
</html>