<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Modifica el Servicio Estacional</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modificar un servicio estacional</h2>
<form action="#" th:action="@{/serveiestacional/update}"
      th:object="${serveiestacional}" method="post">
  <table>
    <tr>
      <td><label>Nombre Servicio</label></td>
      <td><input type="text" th:field="*{nom}" /></td>
    </tr>
    <tr>
      <td><label>Lugar de Contrato</label></td>
      <td><input type="text" th:field="*{llocContracte}" /></td>
    </tr>
    <tr>
      <td><label>Hora inicio</label></td>
      <td><input type="time" th:field="*{horaInici}" /></td>
    </tr>
    <tr>
      <td><label>Hora Fin</label></td>
      <td><input type="time" th:field="*{horaFi}" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Modificar el servicio estacional" /></td>
    </tr>
  </table>
</form>
</body>
</html>
