<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Controladors</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Llista de Controladors</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Dni</th>
        <th>Nom</th>
        <th>Cognom</th>
        <th>Email</th>
        <th>Adreça</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="controlador: ${controladors}">
        <td th:text="${controlador.dni}"></td>
        <td th:text="${controlador.nom}"></td>
        <td th:text="${controlador.cognom}"></td>
        <td th:text="${controlador.email}"></td>
        <td th:text="${controlador.adresa}"></td>
        <td><a th:href="@{/controlador/update/{dni}(dni=${controlador.dni})}" class="btn btn-warning" role="button">Edita</a>
        </td>
        <td><a th:href="@{/controlador/delete/{dni}(dni=${controlador.dni})}" class="btn btn-danger" role="button">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add" class="btn btn-success" role="button">Afegeix Controlador</a>
</body>
</html>