<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/base}">
<head>
  <title>Gestionar los espacios públicos</title>
  <meta charset="UTF-8" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/zona.css" th:href="@{/css/zona.css}"/>

</head>
<body>
<div class="container" layout:fragment="content">
  <h2>Creación de un nuevo espacio público</h2>
  <br>
  <p style="font-style: italic">(*) campos obligatorios</p>
  <form class="form-horizontal" action="#" th:action="@{/espaipublic/add}"
        th:object="${espaipublic}" method="post">
    <div class="form-group row">
      <label class="control-label col-sm-2" for="nom">Nombre espacio:*</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="nom" th:field="*{nom}"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="tipus_acces">Tipo de acceso:*</label>
      <div class="col-sm-4">
        <select class="form-control" id="tipus_acces" th:field="*{tipusAcces}">
          <option value="No seleccionat">Selecciona el tipo de Acceso</option>
          <option value="Abierto">Abierto</option>
          <option value="Restringido">Restringido</option>
          <option value="Cerrado">Cerrado</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="tipus_sol">Tipo de terreno:*</label>
      <div class="col-sm-4">
        <select class="form-control" id="tipus_sol" th:field="*{tipusSol}">
          <option value="No seleccionat">Selecciona el tipo de terreno</option>
          <option value="Arena">Arena</option>
          <option value="Piedra">Piedra</option>
          <option value="Grava">Grava</option>
          <option value="Urbano">Urbano</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="tipus_espai">Tipo de espacio:*</label>
      <div class="col-sm-4">
        <select class="form-control" id="tipus_espai" th:field="*{tipusEspai}">
          <option value="No seleccionat">Selecciona el tipo de espacio</option>
          <option value="Playa">Playa</option>
          <option value="Rio">Rio</option>
          <option value="Lago">Lago</option>
          <option value="Estanque">Estanque</option>
          <option value="Bosque">Bosque</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="localitzacio_geografica">Localización Geográfica:*</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="localitzacio_geografica" th:field="*{localitzacioGeografica}"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="descripcio">Descripción:*</label>
      <div class="col-sm-4">
        <textarea class="form-control" id="descripcio" th:field="*{descripcio}" rows="4"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="llargaria">Largaria:*</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="llargaria" th:field="*{llargaria}"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="amplaria">Anchura:*</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="amplaria" th:field="*{amplaria}"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="orientacio">Orientación:*</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="orientacio" th:field="*{orientacio}"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="comentaris">Comentarios:</label>
      <div class="col-sm-4">
        <textarea class="form-control" id="comentaris" th:field="*{comentaris}" rows="4"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="imatges">Imagenes:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="imatges" th:field="*{imatges}"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="nom_municipi">Nombre Municipio:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="nom_municipi" th:field="*{nomMunicipi}" readonly="readonly"/>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-primary">Añade espacio publico</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>