<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Gestionar els espais publics</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
  <h2>Nou espai public</h2>
  <form class="form-horizontal" action="#" th:action="@{/espaipublic/add}"
        th:object="${espaipublic}" method="post">

    <div class="form-group row">
      <label class="control-label col-sm-2" for="nom">Nom Espai:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="nom" th:field="*{nom}" />
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="tipus_acces">Tipus Acces:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="tipus_acces" th:field="*{tipusAcces}" />
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="tipus_sol">Tipus Sol:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="tipus_sol" th:field="*{tipusSol}" />
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="tipus_espai">Tipus Espai:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="tipus_espai" th:field="*{tipusEspai}"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="localitzacio_geografica">Localitzacio Geografica:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="localitzacio_geografica" th:field="*{localitzacioGeografica}"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="descripcio">Descripcio:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="descripcio" th:field="*{descripcio}"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="llargaria">Llargaria:</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="llargaria" th:field="*{llargaria}"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="amplaria">Amplaria:</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="amplaria" th:field="*{amplaria}"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="orientacio">Orientacio:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="orientacio" th:field="*{orientacio}"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="comentaris">Comentaris:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="comentaris" th:field="*{comentaris}"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="imatges">Imatges:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="imatges" th:field="*{imatges}"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="nom_municipi">Nom Municipi:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="nom_municipi" th:field="*{nomMunicipi}"/>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-primary">Afegeix Espai Public</button>
      </div>
    </div>

  </form>
</div>
</body>
</html>