<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>SANA</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/zona.css" th:href="@{/css/zona.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>Gestión del espaio público: <span th:text="${gestioespai.nom}"></span></h1>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Características</th>
                <th scope="col">Información</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Nombre</th>
                <td th:text="${gestioespai.nom}"></td>
            </tr>
            <tr>
                <th scope="row">Municipio</th>
                <td th:text="${gestioespai.nomMunicipi}"></td>
            </tr>
            <tr>
                <th scope="row">Acceso al espacio</th>
                <td th:text="${gestioespai.tipusAcces}"></td>
            </tr>
            <tr>
                <th scope="row">Tipo de terreno</th>
                <td th:text="${gestioespai.tipusSol}"></td>
            </tr>
            <tr>
                <th scope="row">Tipo de Espacio</th>
                <td th:text="${gestioespai.tipusEspai}"></td>
            </tr>
            <tr>
                <th scope="row">Hora de apertura</th>
                <td th:if="${franjaespai != null}" th:text="${franjaespai.horaInici}"></td>
                <td th:unless="${franjaespai != null}">Cerrado</td>
            </tr>
            <tr>
                <th scope="row">Hora de tancada</th>
                <td th:if="${franjaespai != null}" th:text="${franjaespai.horaFi}"></td>
                <td th:unless="${franjaespai != null}">Vacío</td>
            </tr>
            <tr>
                <th scope="row">Ubicación Geográfica</th>
                <td th:text="${gestioespai.localitzacioGeografica}"></td>
            </tr>
            <tr>
                <th scope="row">Amplaria del espacio (en metros)</th>
                <td th:text="${gestioespai.amplaria}"></td>
            </tr>
            <tr>
                <th scope="row">Largaria del espacio (en metros)</th>
                <td th:text="${gestioespai.llargaria}"></td>
            </tr>
            <tr>
                <th scope="row">Orientación</th>
                <td th:text="${gestioespai.orientacio}"></td>
            </tr>
            <tr>
                <th scope="row">Descripción</th>
                <td th:text="${gestioespai.descripcio}"></td>
            </tr>
            <tr>
                <th scope="row">Ruta imágenes</th>
                <td>
                    <span th:if="${gestioespai.imatges == null}">Vacío</span>
                    <span th:unless="${gestioespai.imatges == null}" th:text="${gestioespai.imatges}"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">Comentarios</th>
                <td>
                    <span th:if="${gestioespai.comentaris == null}">Vacío</span>
                    <span th:unless="${gestioespai.comentaris == null}" th:text="${gestioespai.comentaris}"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:if="${#strings.equals(gestioespai.tipusAcces, 'Restringido')}">
        <a th:href="@{/espaipublic/update/{nom_espai}(nom_espai=${gestioespai.nom})}"><button type="button">Editar espai</button></a>
        <a th:href="@{/zona/gestionarzonesespai/{nom_espai}(nom_espai=${gestioespai.nom})}"><button type="button">Gestionar zones</button></a>
        <div th:if="${franjaespai == null}">
            <a th:href="@{/franjaespai/add/{nom_espai}(nom_espai=${gestioespai.nom})}"><button type="button">Añade franja horaria</button></a>
        </div>
        <div th:unless="${franjaespai == null}">
            <a th:href="@{/franjaespai/update/{nom_espai}(nom_espai=${gestioespai.nom})}"><button type="button">Edita la franja horaria</button></a>
        </div>
        <a th:href="@{/espaiserveipermanent/gestionarserveisperm/{nom_espai}(nom_espai=${gestioespai.nom})}"><button type="button">Gestionar serveis permanents</button></a>
        <a th:href="@{/periodeserveiestacional/gestionarserveisest/{nom_espai}(nom_espai=${gestioespai.nom})}"><button type="button">Gestionar servicios estacionales</button></a>
        <a th:href="@{/}"><button type="button">Gestionar reservas</button></a>
    </div>
    <div th:unless="${#strings.equals(gestioespai.tipusAcces, 'Restringido')}">
        <a th:href="@{/espaipublic/update/{nom_espai}(nom_espai=${gestioespai.nom})}"><button type="button">Editar espacio</button></a>
        <div th:if="${franjaespai == null}">
            <a th:href="@{/franjaespai/add/{nom_espai}(nom_espai=${gestioespai.nom})}"><button type="button">Añade franja horaria</button></a>
        </div>
        <div th:unless="${franjaespai == null}">
            <a th:href="@{/franjaespai/update/{nom_espai}(nom_espai=${gestioespai.nom})}"><button type="button">Edita la franja horaria</button></a>
        </div>
        <a th:href="@{/espaiserveipermanent/gestionarserveisperm/{nom_espai}(nom_espai=${gestioespai.nom})}"><button type="button">Gestionar servicios permanentes</button></a>
        <a th:href="@{/periodeserveiestacional/gestionarserveisest/{nom_espai}(nom_espai=${gestioespai.nom})}"><button type="button">Gestionar servicios estacionales</button></a>
    </div>
</div>
</body>
</html>