<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Espacios Públicos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/zona.css" th:href="@{/css/zona.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>Información del espacio público: <span th:text="${espaipublic.nom}"></span></h1>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><b>Caracteristicas</b></th>
                <th scope="col"><b>Información</b></th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Nombre</th>
            <td th:text="${espaipublic.nom}"></td>
        </tr>
        </tbody>
        <tr>
            <th scope="row">Municipio</th>
            <td th:text="${espaipublic.nomMunicipi}"></td>
        </tr>
        <tr>
            <th scope="row">Acceso al espacio</th>
            <td th:text="${espaipublic.tipusAcces}"></td>
        </tr>
        <tr>
            <th scope="row">Terreno del espacio</th>
            <td th:text="${espaipublic.tipusSol}"></td>
        </tr>
        <tr>
            <th scope="row">Tipos de espacio</th>
            <td th:text="${espaipublic.tipusEspai}"></td>
        </tr>
        <tr>
            <th scope="row">Ubicación geográfica</th>
            <td th:text="${espaipublic.localitzacioGeografica}"></td>
        </tr>
        <tr>
            <th scope="row">Amplitud del espacio (en metros)</th>
            <td th:text="${espaipublic.amplaria}"></td>
        </tr>
        <tr>
            <th scope="row">Longitud del espacio (en metros)</th>
            <td th:text="${espaipublic.llargaria}"></td>
        </tr>
        <tr>
            <th scope="row">Orientación</th>
            <td th:text="${espaipublic.orientacio}"></td>
        </tr>
        <tr>
            <th scope="row">Descripción</th>
            <td th:text="${espaipublic.descripcio}"></td>
        </tr>
    </table>
    <div th:if="${#strings.equals(espaipublic.tipusAcces, 'Restringido')}">
            <a th:href="@{/zona/listzonesespai/{nom_espai}(nom_espai=${espaipublic.nom})}"><button type="button">Consultar zonas disponibles</button></a>
            <a th:href="@{/espaiserveipermanent/listespai/{nom_espai}(nom_espai=${espaipublic.nom})}"><button type="button">Consultar servicios permanentes</button></a>
            <a th:href="@{/periodeserveiestacional/listsestespai/{nom_espai}(nom_espai=${espaipublic.nom})}"><button type="button">Consultar servicios estacionales</button></a>
    </div>
    <div th:unless="${#strings.equals(espaipublic.tipusAcces, 'Restringido')}">
        <a th:href="@{/espaiserveipermanent/listespai/{nom_espai}(nom_espai=${espaipublic.nom})}"><button type="button">Consultar servicios permanentes</button></a>
        <a th:href="@{/periodeserveiestacional/listsestespai/{nom_espai}(nom_espai=${espaipublic.nom})}"><button type="button">Consultar servicios estacionales</button></a>
    </div>
</div>
</body>
</html>