<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Espais Publics</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/zona.css" th:href="@{/css/zona.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>Información de l'espai públic: <span th:text="${espaipublic.nom}"></span></h1>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><b>Característiques</b></th>
                <th scope="col"><b>Informació</b></th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Nombre</th>
            <td th:text="${espaipublic.nom}"></td>
        </tr>
        </tbody>
        <tr>
            <th scope="row">Municipi</th>
            <td th:text="${espaipublic.nomMunicipi}"></td>
        </tr>
        <tr>
            <th scope="row">Acces a l'espai</th>
            <td th:text="${espaipublic.tipusAcces}"></td>
        </tr>
        <tr>
            <th scope="row">Sol de l'espai</th>
            <td th:text="${espaipublic.tipusSol}"></td>
        </tr>
        <tr>
            <th scope="row">Tipues d'Espai</th>
            <td th:text="${espaipublic.tipusEspai}"></td>
        </tr>
        <tr>
            <th scope="row">Ubicació Geogràfica</th>
            <td th:text="${espaipublic.localitzacioGeografica}"></td>
        </tr>
        <tr>
            <th scope="row">Amplaria de l'espai (en metres)</th>
            <td th:text="${espaipublic.amplaria}"></td>
        </tr>
        <tr>
            <th scope="row">Llargaria de l'espai (en metres)</th>
            <td th:text="${espaipublic.llargaria}"></td>
        </tr>
        <tr>
            <th scope="row">Orientacio</th>
            <td th:text="${espaipublic.orientacio}"></td>
        </tr>
        <tr>
            <th scope="row">Descripció</th>
            <td th:text="${espaipublic.descripcio}"></td>
        </tr>
    </table>
    <div th:if="${#strings.equals(espaipublic.tipusAcces, 'Restringido')}">
            <button type="button">Consultar zones disponibles</button>
            <button type="button">Consultar serveis permanents</button>
            <button type="button">Consultar serveis estacionals</button>
    </div>
    <div th:unless="${#strings.equals(espaipublic.tipusAcces, 'Restringido')}">
        <button type="button">Consultar serveis permanents</button>
        <button type="button">Consultar serveis estacionals</button>
    </div>
</div>
</body>
</html>