<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/base}">
<head>
    <title>Espacios Públicos</title>
    <meta charset="UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/zona.css" th:href="@{/css/zona.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>Espacios Públicos disponibles</h1>
    <h3>Solo necesitas hacer reserva para los espacios Restringidos, los demás son libres de acceso</h3>
    <div th:if="${#lists.isEmpty(espaispublics)}">
        <p>En este momento no hay Espacios Públicos Disponibles. Vuelve en un otro momento.</p>
    </div>
    <br>
    <p style="font-style: italic">Utiliza el botón 'Más información' para encontrar más información sobre el espacio.</p>
    <table th:unless="${#lists.isEmpty(espaispublics)}" class="table table-striped">
        <thead>
        <tr>
            <th>Nombre del espacio</th>
            <th>Tipo acceso al espaio</th>
            <th>Tipo terreno</th>
            <th>Tipo espaio</th>
            <th>Municipio dónde se encuentra</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="espaipublic: ${espaispublics}">
            <td th:text="${espaipublic.nom}"></td>
            <td th:text="${espaipublic.tipusAcces}"></td>
            <td th:text="${espaipublic.tipusSol}"></td>
            <td th:text="${espaipublic.tipusEspai}"></td>
            <td th:text="${espaipublic.nomMunicipi}"></td>
            <td><a th:href="@{/espaipublic/informacio/{nom}(nom=${espaipublic.nom})}" class="btn btn-info btn-lg" role="button">Más información</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>