<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="{templates/fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>SANA</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/zona.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="#">SANA</a>
    <div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inici <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="espaipublic/list">Llista de espais públics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Enllaç 2</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mes links
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a href="municipi/list">Gestió de Municipis</a>
                    <a href="ciutada/list">Gestió de Ciutadans</a>
                    <a href="controlador/list">Gestió de Controladors</a>
                    <a href="controladorespai/list">Gestió de Controladors en Espais</a>
                    <a href="email/list">Gestió de Emails</a>
                    <a href="espaipublic/list">Gestió d'Espais Públics</a>
                    <a href="espaiserveipermanent/list">Gestió d'Espais de Servei Permanent</a>
                    <a href="franjaEspai/list">Gestió de Franja d'Espais</a>
                    <a href="gestormunicipal/list">Gestió de Gestors Municipals</a>
                    <a href="periodeserveiestacional/list">Gestió de Periode Serveis Estacionals</a>
                    <a href="reserva/list">Gestió de Reserves</a>
                    <a href="reservazona/list">Gestió de Reserves en Zones</a>
                    <a href="serveiestacional/list">Gestió de Serveis Estacionals</a>
                    <a href="serveipermanent/list">Gestió de Serveis Permanents</a>
                    <a href="zona/list">Gestió de Zones</a>
                    <a href="reservazona/add">Reservar Zona</a>
                    <a href="ciutada/registrar">Registrar Ciutada</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

   <!-- <div class="loggeduser" th:object="${session}">
        <p th:if="*{ciutada == null}">
            No autenticat <a href="/login" th:href="@{/login}">Entrar</a>
        </p>
        <p th:unless="*{ciutada == null}">
            Autenticat com <span th:text="*{ciutada.email}"></span> <a href="/logout" th:href="@{/logout}">Eixir</a>
        </p>
    </div> -->

    <div class="secondary-block">

        <div>
        <h1>SANA</h1>
        <h2>Safe Access to Natural Areas</h2>
        <h4> Aquesta pàgina conté una llista de totes les arees naturals registrades, on es podrá consultar la seva
            ocupació, o reservar una zona si es un espai restringit. <br>
            Clica açí si vols consultar els espais públics disponibles
        </h4>
            <form class="no-padding" action="/espaipublic/list">
                <button type="submit" >Llista d'espais Públic</button>
            </form>
        </div>
        <div>
            <h4>Per a poder fer una reserva, es necessita un compte en SANA</h4>

            <form class="no-padding" action="/login" th:href="@{/login}">
                <button type="submit" >Iniciar sesió</button>
            </form>
            <form class="no-padding" action="/ciutada/registrar">
                <button type="submit">Crear compte</button>
            </form>

        </div>
            <!--
        <ul>
            <li><a href="municipi/list">Gestió de Municipis</a></li>
            <li><a href="ciutada/list">Gestió de Ciutadans</a></li>
            <li><a href="controlador/list">Gestió de Controladors</a></li>
            <li><a href="controladorespai/list">Gestió de Controladors en Espais</a></li>
            <li><a href="email/list">Gestió de Emails</a></li>
            <li><a href="espaipublic/list">Gestió d'Espais Públics</a></li>
            <li><a href="espaiserveipermanent/list">Gestió d'Espais de Servei Permanent</a></li>
            <li><a href="franjaEspai/list">Gestió de Franja d'Espais</a></li>
            <li><a href="gestormunicipal/list">Gestió de Gestors Municipals</a></li>
            <li><a href="periodeserveiestacional/list">Gestió de Periode Serveis Estacionals</a></li>
            <li><a href="reserva/list">Gestió de Reserves</a></li>
            <li><a href="reservazona/list">Gestió de Reserves en Zones</a></li>
            <li><a href="serveiestacional/list">Gestió de Serveis Estacionals</a></li>
            <li><a href="serveipermanent/list">Gestió de Serveis Permanents</a></li>
            <li><a href="zona/list">Gestió de Zones</a></li>
            <br>
            <li><a href="reservazona/add">Reservar Zona</a></li>
            <li><a href="ciutada/registrar">Registrar Ciutada</a></li>
        </ul>
        -->
    </div>
</body>
</html>