<div class="loggeduser" th:object="${session}">
    <p th:if="*{ciutada == null}">
        No autenticat <a href="/login" th:href="@{/login}">Entrar</a>
    </p>
    <p th:unless="*{ciutada == null}">
        Autenticat com <span th:text="*{ciutada.email}"></span> <a
            href="/logout" th:href="@{/logout}">Eixir</a>
    </p>
    <p th:unless="*{gestor == null}">
        Autenticat com gestor <span th:text="*{gestor.email}"></span> <a
            href="/logout" th:href="@{/logout}">Eixir</a>
    </p>
</div>