<div class="loggeduser" th:object="${session}">
    <p th:if="*{ciutada == null && gestor == null}">
        No autenticado <a href="/login" th:href="@{/login}">Entrar</a>
    </p>
    <p th:unless="*{ciutada == null}">
        Autenticado como <span th:text="*{ciutada.email}"></span> <a
            href="/logout" th:href="@{/logout}">Salir</a>
    </p>
    <p th:unless="*{gestor == null}">
        Autenticado como <span th:text="*{gestor.email}"></span> <a
            href="/logout" th:href="@{/logout}">Salir</a>
    </p>
</div>