
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/}">Pàgina principal</a></li>
            <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/}">Enllaç 1</a></li>
            <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/}">Enllaç 2</a></li>
        </ul>
    </div>
</nav>-->


<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">SANA</a>
    <div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inici <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/espaipublic/list">Llista de espais públics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reserva/listreservesciutada">Les meves reserves</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mes links
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Algo 1</a>
                    <a class="dropdown-item" href="#">Algo 2</a>
                    <a class="dropdown-item" href="#">Algo 3</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
