<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Reservar zona en area</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/zona.css">
</head>
<body>
<div    class="main-block"
        layout:fragment="content">

    <form action="/">
        <h1>Reservar A023 en Desert de les palmes</h1>
        <fieldset>
            <legend>
                <h3>Detalls de la Reserva</h3>
            </legend>
            <!--
            <div  class="account-details">
                <div><label>Num Persones*</label><select class="day" required>
                    <option value=""></option>
                    <option value="01">1</option>
                    <option value="02">2</option>
                    <option value="03">3</option>
                    <option value="04">4</option>
                    <option value="05">5</option>
                </select></div>

                <div>
                    <label>Data*</label>
                    <input type="date" name="name" required>
                </div>
            </div>-->

            <div class="form-group">
                <label class="labelBoot"
                       for="exampleFormControlSelect1">Zona: </label>
                <input class="form-control" type="text" placeholder="A023" readonly>
            </div>



            <div class="form-group">
                <label class="labelBoot"
                       for="exampleFormControlSelect1">Num persones: </label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

            <div class="form-group">
                <label class="labelBoot"
                       for="exampleFormControlSelect2">Franja horaria: </label>
                <select class="form-control" id="exampleFormControlSelect2">
                    <option>09:00-11:00</option>
                    <option>11:00-13:00</option>
                    <option>15:00-17:00</option>
                </select>
            </div>

        </fieldset>
        <button type="submit" href="/">Reservar</button>
    </form>
</div>
</body>
</html>