<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Reserves en Zona</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Llista de Reserves en Zona</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Codi</th>
        <th>Nom espai</th>
        <th>Nom Zona</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservazona: ${reservaszonas}">
        <td th:text="${reservazona.codi_reserva}"></td>
        <td th:text="${reservazona.nom_espai}"></td>
        <td th:text="${reservazona.nom_zona}"></td>
        <td><a th:href="@{/reservazona/update/{codi_reserva}{nom_espai}(codi_reserva=${reservazona.codi_reserva}, nom_espai=${reservazona.nom_espai})}" class="btn btn-warning" role="button">Edita</a>
        </td>
        <td><a th:href="@{/reservazona/delete/{codi_reserva}{nom_espai}(codi_reserva=${reservazona.codi_reserva}, nom_espai=${reservazona.nom_espai})}" class="btn btn-danger" role="button">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add" class="btn btn-success" role="button">Afegeix reserva en zona</a>
</body>
</html>