<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Gestionar Servicios Permanentes en Espacio</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
  <h1>Lista de Servicios Permanentes en Espacio</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nombre espacio</th>
      <th>Nombre servicio</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="espaiserveipermanent: ${espaiserveispermanents}">
      <td th:text="${espaiserveipermanent.nomEspai}"></td>
      <td th:text="${espaiserveipermanent.nomServeiPermanent}"></td>

      <td><a th:href="@{/espaiserveipermanent/delete/{nom_espai}/{nom_servei_perm}(nom_espai=${espaiserveipermanent.nomEspai}, nom_servei_perm=${espaiserveipermanent.nomServeiPermanent})}" class="btn btn-danger" role="button">Esborra</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a href="add" class="btn btn-success" role="button">Añade Servicio Permanente en Espacio</a>
</div>
</body>
</html>