<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/base}">
<head>
  <meta charset="UTF-8">
  <title>SANA</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/zona.css">
</head>

<body>

<div class="secondary-block" layout:fragment="content">
  <div>
    <h1>SANA</h1>
    <h2>Safe Access to Natural Areas</h2>
    <h4> Esta página contiene una lista de todas las areas naturales registradas, donde se podrá consultar su
      ocupación, o reservar una zona si es un espacio restringido. <br>
      Clica aquí si quieres consultar los espacios públicos disponibles
    </h4>
    <form class="no-padding" action="/espaipublic/list">
      <button type="submit" >Lista de espacios Públicos</button>
    </form>
  </div>
  <div th:object="${session}"
    th:unless="*{ciutada == null}">

    <h4>Para poder hacer una reserva, se necessita una cuenta en SANA</h4>

    <form class="no-padding" action="/login" th:href="@{/login}">
      <button type="submit" >Iniciar sesión</button>
    </form>
    <form class="no-padding" action="/ciutada/registrar">
      <button type="submit">Crear cuenta</button>
    </form>

  </div>
</div>
</body>
</html>