<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Identifícate</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/zona.css">


</head>
<body>
<div    class="main-block"
        layout:fragment="content">

    <form action="#" th:action="@{/login}"
          th:object="${user}" method="post">
        <h1>Iniciar sessión</h1>
        <fieldset>
            <legend>
                <h3>Introduce tus datos</h3>
            </legend>
            <div class="form-group">
                <label class="labelBoot">Email: </label>
                <input class="form-control" type="text" th:field="*{email}"/>
                <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>

            <div class="form-group">
                <label class="labelBoot">Contraseña: </label>
                <input class="form-control" type="password" th:field="*{password}"/>
                <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
        </fieldset>
        <button type="submit">Acceder</button>
        <p>
            No estás registrado? <a href="/ciutada/registrar" th:href="@{/ciutada/registrar}">Crear una cuenta</a>
        </p>
    </form>
</div>
</body>
</html>