<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>SANA</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/zona.css">
</head>

<body>

<div class="secondary-block" layout:fragment="content">
    <h1>SANA</h1>
    <h2>Mesures de abertura progresiva</h2>

    <img src="/images/mesures.png" alt="Mesures de la Generalitat" width="800" height="600" class="center">
</div>

</body>
</html>