<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Modifica un email</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modificar un email</h2>
<form action="#" th:action="@{/email/update}"
      th:object="${email}" method="post">
  <table>
      <td><label>Email</label></td>
      <td><input type="text" th:field="*{email}" /></td>
    </tr>
    <tr>
      <td><label>Contraseña</label></td>
      <td><input type="text" th:field="*{contrasenya}" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Modificar email" /></td>
    </tr>
  </table>
</form>
</body>
</html>
