<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Gestionar Servicios Permanentes</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
  <h1>Lista de Servicios Permanentes</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Lugar de contrato</th>
      <th>Hora inicio</th>
      <th>Hora fin</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="serveipermanent: ${serveispermanents}">
      <td th:text="${serveipermanent.nom}"></td>
      <td th:text="${serveipermanent.llocContracte}"></td>
      <td th:text="${serveipermanent.horaInici}"></td>
      <td th:text="${serveipermanent.horaFi}"></td>
      <td th:text="${serveipermanent.dataInici}"></td>
      <td th:text="${serveipermanent.dataFi}"></td>
      <td><a th:href="@{/serveipermanent/update/{nom}(nom=${serveipermanent.nom})}" class="btn btn-warning" role="button">Editar</a>
      </td>
      <td><a th:href="@{/serveipermanent/delete/{nom}(nom=${serveipermanent.nom})}" class="btn btn-danger" role="button">Borrar</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a href="add" class="btn btn-success" role="button">Añadir Servicio Permanente</a>
</div>
</body>
</html>