<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/base}">
<head>
  <title>Gestionar los Periodos de los Servicios Estacionales</title>
  <meta charset="UTF-8" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/zona.css" th:href="@{/css/zona.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
  <h2>Nuevo Periodo Servicio Estacional</h2>
  <form class="form-horizontal" action="#" th:action="@{/periodeserveiestacional/add}"
        th:object="${periodeserveiestacional}" method="post">

    <div class="form-group row">
      <label class="control-label col-sm-2" for="nom_espai">Nombre Espacio:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="nom_espai" th:field="*{nomEspai}" readonly="readonly"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="nom_servei_est">Nombre Servicio:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="nom_servei_est" th:field="*{nomServeiEstacional}" readonly="readonly"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="data_inici">Fecha Inicio:</label>
      <div class="col-sm-4">
        <input type="date" class="form-control" id="data_inici" th:field="*{dataInici}" />
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="data_fi">Fecha Fin:</label>
      <div class="col-sm-4">
        <input type="date" class="form-control" id="data_fi" th:field="*{dataFi}" />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-primary">Añadir Periode Servicio Estacional</button>
      </div>
    </div>

  </form>
</div>
</body>
</html>