<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Periodos Servicio Estacional</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h1>Lista de Periodos Servicio Estacional</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre espacio</th>
            <th>Nombre Servicio Estacional</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="periodeserveiestacional: ${periodeserveisestacionals}">
            <td th:text="${periodeserveiestacional.nomEspai}"></td>
            <td th:text="${periodeserveiestacional.nomServeiEstacional}"></td>
            <td th:text="${periodeserveiestacional.dataInici}"></td>
            <td th:text="${periodeserveiestacional.dataFi}"></td>
            <td><a th:href="@{/periodeserveiestacional/update/{nom_espai}/{nom_servei_estacional}(nom_espai=${periodeserveiestacional.nomEspai}, nom_servei_estacional=${periodeserveiestacional.nomServeiEstacional})}" class="btn btn-warning" role="button">Edita</a>
            </td>
            <td><a th:href="@{/periodeserveiestacional/delete/{nom_espai}/{nom_servei_estacional}(nom_espai=${periodeserveiestacional.nomEspai}, nom_servei_estacional=${periodeserveiestacional.nomServeiEstacional})}" class="btn btn-danger" role="button">Esborra</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn-success" role="button">Añade periodo servicio estacional</a>
</div>
</body>
</html>